<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="./css/reset.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,500,600,700|Open+Sans:400,500,600,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="./css/style.css">


    <script src="https://cdnjs.cloudflare.com/cdn-cgi/scripts/78d64697/cloudflare-static/email-decode.min.js"></script>

    <title>Black Tide</title>

</head>

<body>
    <nav class="sidebar w3-bar-block w3-small w3-hide-small w3-center">
        <!-- Avatar image in top left corner /w3images/avatar_smoke.jpg -->
        <img src="" style="width:100%">
        <a href="/" class="btn sidebar-item hvr-black">
            <i class="fa fa-home w3-xxlarge"></i>
            <p>HOME</p>
        </a>
         
        <a href="/services" class="btn sidebar-item hvr-black">
            <i class="fa fa-user w3-xxlarge"></i>
            <p>SERVICES</p>
        </a>

        <a href="/projects" class="btn sidebar-item hvr-black">
            <i class="fa fa-user w3-xxlarge"></i>
            <p>PROJECTS</p>
        </a>

        {{!--
        <a href="#contact" class="btn sidebar-item hvr-black">
            <i class="fa fa-envelope w3-xxlarge"></i>
            <p>CONTACT</p>
        </a> --}}
    </nav>

    {{{body}}}

</body>

</html>