<div class="container">
    <section class="row">
        <div class="card-wrapper">
            <div class="card">
                <div class="profile-card">
                    <div class="profile-pic">
                        <img class="media-object img-circle center-block" data-src="holder.js/100x100" alt="Francisco Carrera" src="./assets/images/download.png"
                            itemprop="image">
                    </div>
                    <div class="contact-details">
                        <div class="name-and-profession">
                            <h3 class="text-bolder name" itemprop="name"> Francisco Carrera</h3>
                            <h5 class="text-muted" itemprop="jobTitle">Developer and Designer </h5>
                        </div>
                        <div class="detail">
                            <span class="icon">
                                <i class="fa fa-lg fa-envelope"></i>
                            </span>
                            <span class="info">
                                <a href="/cdn-cgi/l/email-protection#abcdd9cac5c8c2d8c8c4c8cad9d9ced9ebccc6cac2c785c8c4c6" class="link-disguise" itemprop="email">
                                    <span class="__cf_email__" data-cfemail="4c2a3e2d222f253f2f232f2d3e3e293e0c2b212d2520622f2321">[email&nbsp;protected]</span>
                                </a>
                            </span>
                        </div>
                        <div class="detail">
                            <span class="icon">
                                <i class="fa fa-lg fa-phone"></i>
                            </span>
                            <a href="tel://(787) 671-4047" class="link-disguise info" itemprop="telephone">
                                (787) 671-4047
                            </a>
                        </div>
                        <div class="detail">
                            <span class="icon">
                                <i class="fa fa-lg fa-map-marker"></i>
                            </span>
                            <span class="info">
                                Orlando, Florida, US
                            </span>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="social-links">
                    <a class="social-link" href="https://github.com/MaddJhin" target="_blank">
                        <span class="fa fa-github fa-2x"></span>
                        <span class="social-link-text"></span>
                    </a>
                    <a class="social-link" href="https://www.linkedin.com/in/frcarrera/" target="_blank">
                        <span class="fa fa-linkedin-square fa-2x"></span>
                        <span class="social-link-text"></span>
                    </a>
                    <a class="social-link" href="https://twitter.com/devsalt" target="_blank">
                        <span class="fa fa-twitter fa-2x"></span>
                        <span class="social-link-text"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="row">
        <div class="card-wrapper">
            <div class="card background-card">
                <h4 id="about">
                    <span class="fa fa-lg fa-user"></span>
                    <span class="title">About</span>
                </h4>
                <div class="card-nested" itemprop="description">
                    <p class="text-justify"> I am a web developer, game designer, armature brewer, and puzzle solver extraordinaire. I started my
                        own business from the ground up, getting back in the black in less than a year and successfully selling
                        it off. After acquiring an extensive background as an entrepreneur, I transitioned into game production
                        and expanded my skill set to include systems design and game development. Through game design I discovered
                        how much I loved coding and the logical structure of it. Now I’ve seen multiple project through,
                        adapting to the situation at hand, wearing multiple hats, and putting my skills as a developer, designer,
                        and producer to use. </p>
                </div>
                <h4 id="skills">
                    <span class="fa fa-lg fa-code"></span>
                    <span class="title">Skills</span>
                </h4>
                <ul class="list-unstyled">
                    <li class="card-nested skill ">
                        <strong>Full Stack Web Development ():</strong>
                        <span class="enumeration">HTML</span>
                        <span class="enumeration">CSS</span>
                        <span class="enumeration">Javascript</span>
                        <span class="enumeration">JQuery</span>
                        <span class="enumeration">React.js</span>
                        <span class="enumeration">Node.js</span>
                        <span class="enumeration">Express.js</span>
                        <span class="enumeration">MySQL</span>
                        <span class="enumeration">MongoDB</span>
                    </li>
                    <li class="card-nested skill ">
                        <strong>Game Development ():</strong>
                        <span class="enumeration">C#</span>
                        <span class="enumeration">Unity3D</span>
                        <span class="enumeration">UE4</span>
                        <span class="enumeration">Source Control</span>
                        <span class="enumeration">JIRA</span>
                        <span class="enumeration">Scrum</span>
                        <span class="enumeration">QA</span>
                        <span class="enumeration">VR Development</span>
                        <span class="enumeration">Cross-Platform Development</span>
                    </li>
                </ul>
                <h4 id="work-experience">
                    <span class="fa fa-lg fa-pencil-square-o"></span>
                    <span class="title">Work Experience</span>
                </h4>
                <ul class="list-unstyled">
                    <li class="card-nested">
                        <div class="content has-sidebar">
                            <p class="clear-margin-sm">
                                <strong>Developer/Producer</strong>, Netherstrike Studios
                            </p>
                            <p class="text-muted">
                                <small>
                                    <span class="space-right"> Jan 2017 - Aug 2017 </span>
                                    <span>
                                        <i class="fa fa-clock-o icon-left"></i> 7 months </span>
                                </small>
                            </p>
                            <p>Main developer in mobile physics puzzle game.</p>
                            <ul>
                                <li> Speared head project from setting initial repository to publishing on android marketplace
                                </li>
                                <li> Fully implemented systems, UI, animations, and particle effects </li>
                                <li> Called on to anticipate and solve potential problems quickly and efficiently. </li>
                            </ul>
                        </div>
                    </li>
                    <li class="card-nested">
                        <div class="content has-sidebar">
                            <p class="clear-margin-sm">
                                <strong>Developer, Producer</strong>,
                                <a href="http://backlotrealities.com/" target="_blank">Backlot Realities</a>
                            </p>
                            <p class="text-muted">
                                <small>
                                    <span class="space-right"> Sep 2016 - Dec 2016 </span>
                                    <span>
                                        <i class="fa fa-clock-o icon-left"></i> 2 months </span>
                                </small>
                            </p>
                            <p>As part of a small VR studio team, entrusted to transform tech demo into a cohesive game experience.
                                Responsible for prioritizing, assigning, and tracking tasks, along with performing white-box,
                                gray-box, and black-box testing. </p>
                            <ul>
                                <li> Designed and implemented new puzzles, achieving a closer unified theme and a more logical
                                    progression to game flow, while remaining true to the original vision. </li>
                                <li> Scripted new functionality in Unity using C# in order to deliver a polished project on time.
                                </li>
                                <li> Reprioritized deliverables and milestones, successfully hitting every milestone and finishing
                                    project by due date </li>
                            </ul>
                        </div>
                    </li>
                    <li class="card-nested">
                        <div class="content has-sidebar">
                            <p class="clear-margin-sm">
                                <strong>Game Designer, Producer, QA</strong>,
                                <a href="http://www.cellecgames.com/" target="_blank">CelleC Games</a>
                            </p>
                            <p class="text-muted">
                                <small>
                                    <span class="space-right"> May 2017 - Aug 2017 </span>
                                    <span>
                                        <i class="fa fa-clock-o icon-left"></i> 3 months </span>
                                </small>
                            </p>
                            <p>Responsible for working in engine, performing QA test, and managing a 20-person team.</p>
                            <ul>
                                <li> Responsible for backlogs, sprints, meetings, product specifications, user stories, test plans,
                                    and release checklists, for design, development, art, and writing. </li>
                                <li> Communicated across management and multidiscipline teams, leading weekly studio meetings.
                                </li>
                                <li> Assisted the studio with transition into agile development and SCRUM. </li>
                            </ul>
                        </div>
                    </li>
                    <li class="card-nested">
                        <div class="content has-sidebar">
                            <p class="clear-margin-sm">
                                <strong>Developer, Game Designer</strong>, Additional Experience
                            </p>
                            <p class="text-muted">
                                <small>
                                    <span class="space-right"> Aug 2014 - Sep 2016 </span>
                                    <span>
                                        <i class="fa fa-clock-o icon-left"></i> 2 years 1 month </span>
                                </small>
                            </p>
                            <p>Worked as a freelancer fulfilling various roles</p>
                            <ul>
                                <li> Designed, prototyped and implemented multiple game systems. </li>
                                <li> Tracked, documented, and resolved bugs throughout development in a QA capacity. </li>
                                <li> Created a scaling micro-transaction system with accompanying monetization plan. </li>
                                <li> Designed, implemented and animated creature abilities into custom game engine. </li>
                                <li> Created a comprehensive marketing and community outreach plan. </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <h4 id="education">
                    <span class="fa fa-lg fa-mortar-board"></span>
                    <span class="title">Education</span>
                </h4>
                <ul class="list-unstyled">
                    <li class="card-nested">
                        <div class="content has-sidebar">
                            <p class="clear-margin-sm">
                                <strong>Game Design, Master</strong>,&nbsp; Full Sail University
                            </p>
                            <p class="text-muted">
                                <small>
                                    Sep 2015 - Sep 2016
                                </small>
                            </p>
                            <i>3.92</i>
                            <div class="space-top labels">
                            </div>
                        </div>
                    </li>
                    <li class="card-nested">
                        <div class="content has-sidebar">
                            <p class="clear-margin-sm">
                                <strong>Business Administration, Bachelor</strong>,&nbsp; Carnegie Mellon University
                            </p>
                            <p class="text-muted">
                                <small>
                                    Aug 2003 - Apr 2007
                                </small>
                            </p>
                            <i>3.02</i>
                            <div class="space-top labels">
                            </div>
                        </div>
                    </li>
                </ul>
                <h4 id="languages">
                    <span class="fa fa-lg fa-language"></span>
                    <span class="title">Languages</span>
                </h4>
                <p class="card-nested">
                    <span class="enumeration">
                        <strong>English</strong> (Fully Fluent)
                    </span>
                    <span class="enumeration">
                        <strong>Spanish</strong> (Native speaker)
                    </span>

                </p>
            </div>
        </div>
    </section>
</div>